<% provide(:title, @user.name) %>
<!--ユーザー情報テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed user-table">
    <tr>
      <td>
        <%= link_to "⬅︎ ", user_path(date: @first_day.prev_month), class: "btn btn-info-small" %>
        <%= l(@first_day, format: :middle) %> 時間管理票
        <%= link_to " ➡︎︎", user_path(date: @first_day.next_month), class: "btn btn-info-small" %>
      </td>
      <td>指定勤務開始時間：<%= format_basic_info(@user.work_start_time) %><br>
          指定勤務終了時間：<%= format_basic_info(@user.work_end_time) %></td>
      <td colspan=3>基本勤務時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<!--申請お知らせテーブル-->
<div>
  <% if @monthly_notices != 0 %>
    <%= link_to "【所属長承認申請のお知らせ】",edit_monthly_user_attendances_path(@user), remote: true, class: "btn" %>
    <b><%= @monthly_notices %>件の申請があります</b>
  <% else %>
    【所属長承認申請のお知らせ】
  <% end %><br>
  <% if @attendance_notices != 0 %>
    <%= link_to "【勤怠変更申請のお知らせ】", change_att_request_user_attendances_path(@user), remote: true, class: "btn" %>
    <b><%= @attendance_notices %>件の申請があります</b>
  <% else %>
    【勤怠変更申請のお知らせ】
  <% end %><br>
  <% if @overwork_notices != 0 %>
    <%= link_to "【残業申請のお知らせ】", edit_notice_overwork_user_attendances_path(@user), remote: true, class: "btn" %>
    <b><%= @overwork_notices %>件の申請があります</b>
  <% else %>
    【残業申請のお知らせ】
  <% end %>
</div>
<p></p>

<!--新規ボタン３つ-->
<div class="btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <%= link_to "CSVを出力", '#', class: "btn btn-primary" %><br>
  <%= link_to "勤怠修正ログ（承認済）", '#', class: "btn btn-primary" %>
</div>

<!--勤怠テーブル-->
<div>
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">【所定外勤務】</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外残業</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", edit_overwork_request_user_attendance_path(@user, day), remote: true, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color="Blue">土</font>
            <% elsif day.worked_on.wday == 0 %>
              <font color="RED">日</font>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td><%= format_hour(day.started_at) if day.started_at.present? %></td>
          <td><%= format_min(day.started_at) if day.started_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.blank? %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= format_hour(day.finished_at) if day.finished_at.present? %></td>
          <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
          <td>
            <% if (btn_text = attendance_state(day)) && day.started_at.present? && day.finished_at.blank? %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= format_hour(day.scheduled_end_time) if day.scheduled_end_time.present? %></td>
          <td><%= format_min(day.scheduled_end_time) if day.scheduled_end_time.present? %></td>
          <td><%= overtime_info(day.scheduled_end_time, @user.work_end_time, day.next_day) if day.scheduled_end_time.present? %></td>
          <td><%= day.work_details %></td>
          <td>
            <% if day.overwork_request_status == "申請中" %>
              <%= day.overwork_instructor_confirmation %>へ<%= day.overwork_request_status %><%= "　" %>
            <% elsif day.overwork_request_status == "承認" %>
              残業承認済<%= "　" %>
            <% elsif day.overwork_request_status == "否認"%>
              残業否認<%= "　" %>
            <% end %>

            <% if day.edit_status == "申請中" %>
              <%= day.edit_instructor_confirmation %>へ<%= day.edit_status %>
            <% elsif day.edit_status == "承認" %>
              勤怠変更承認済
            <% elsif day.edit_status == "否認" %>
              勤怠変更否認         
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td rowspan="2"></td>
        <td colspan="2">累計日数</td>
        <td colspan="5"></td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="2">累計在社時間</td>
        <td></td>
        <td></td>
        <td></td>
        <td rowspan="2">
          <!--< % if day.monthly_status == "申請中" %>-->
            <!--< %= day.monthly_instructor_confirmation %>へ< %= day.monthly_status %><br>-->
          <!--< % elsif day.monthly_status == "承認" %>-->
            <!--< %= day.monthly_instructor_confirmation %>から< %= day.monthly_status %>済<br>-->
          <!--< % elsif day.monthly_status == "否認" %>-->
            <!--< %= day.monthly_instructor_confirmation %>から< %= day.monthly_status %>済<br>-->
          <!--< % else %>-->
            <%= "所属長承認　未" %><br>
          <!--< % end %>-->
          <%= form_with(model: @user, url: instructor_apploval_user_path(@user), local: true, method: :patch) do |f| %>
            <%= f.hidden_field :first_day, :value => @first_day %>
            <%= f.collection_select :monthly_instructor_confirmation, @instructors, :name, :name, {include_blank: true}, { class: "instructor_class" } %><br>
            <%= f.submit "申請する", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="5"></td>
        <td colspan="2"><%= format_basic_info(@user.work_start_time).to_f * @worked_sum %></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<!--各モーダルウインドウ-->
<div id="edit-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-notice-overwork" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="change-att-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-monthly" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>