<% provide(:class_text, 'edit_base') %>
<% provide(:button_text, '編集を送信する') %>

<h1>拠点情報編集</h1>

<%= form_with(model: @base, local: true) do |f| %>
  <%= render 'shared/error_messages', object: @base %>
  <table class="table table-bordered table-condensed">
    <tr>
      <td>
        <%= f.label :base_number, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :base_number, class: "form-control", placeholder: "拠点番号を記入してください" %>

        <%= f.label :base_name, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :base_name, class: "form-control", placeholder: "拠点名を記入してください" %>

        <%= f.label :base_type, class: "label-#{yield(:class_text)}" %></br>
        <%= f.select :base_type, [["出勤"],["退勤"]] %>
      </td>
    </tr>
  </table>
  <div class="center">
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
    <%= link_to "キャンセル", bases_path, class: "btn btn-default" %>
  </div>
<% end %>